<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../../partials/student/head.ejs') %>
    <title>Student dashboard</title>
</head>

<body>
  <!--the main header-->
  <%- include ('../../partials/student/nav.ejs') %>



  <main>
    <table>
      <tr>
        <th>Id</th>
        <th>Student mail</th>
        <th>Time</th>
        <th>Timestamp</th>
      </tr>

      <% for(let i = 0; i < times.length; i++) { %>
      <tr>
        <td><%= times[i].id %></td>
        <td><%= times[i].student_mail %></td>
        <td><%= times[i].time %></td>
        <td><%= times[i].timestamp %></td>
      </tr>
      <% } %>
    </table>
  </main>

  <footer>

  </footer>
  <!--the footer partials -->
  <%- include ('../../partials/student/footer') %>
</body>

</html>
