<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../../partials/head-admind.ejs') %>
</head>
<body>

<header>
    <h1>
      student acounts
    </h1>
    <%- include ('../../partials/nav') %>
</header>
<!--tabel 1 accounts-->
<main>
    <table>
    <% for(let i = 0; i < accountList.length; i++) { %>
      <tr>
        <th>Naam</th>
        <th>Student mail</th>
        <th>wachtwoord</th>
      </tr>
      <tr>
        <td><%= times[i].id %></td>
        <td><%= times[i].student_mail %></td>
        <td>variablen voor wachtwoord</td>
      </tr>
      <% } %>
    </table>
</main>

<footer>
    <%- include ('../../partials/footer') %>
</footer>

</body>
</html>
