<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ("../../partials/admin/head") %>
  <title>Accounts</title>
</head>

<body>
  <%- include ("../../partials/admin/nav") %>

  <main>
    <table>
      <tr>
        <th>Id</th>
        <th>Student mail</th>
        <th>is teacher?</th>
        <th>password</th>
      </tr>

      <% for(let i = 0; i < accounts.length; i++) { %>
      <tr>
        <td><%= accounts[i].email %></td>
        <td><%= accounts[i].name %></td>
        <td><%= accounts[i].is_teacher %></td>
        <td><%= accounts[i].password %></td>
      </tr>
      <% } %>
    </table>
  </main>

  <%- include ("../../partials/admin/footer") %>
</body>

</html>
