<!-- views/pages/students/allStudents.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../../partials/admin/head') %>
</head>

<body>

    <header>
        <h1>
            dit is een test
        </h1>
        <%- include ('../../partials/admin/nav') %>
    </header>

    <footer>
        <%- include ('../../partials/admin/footer') %>
    </footer>


    <main>
        <table>
          <tr>
            <th>Id</th>
            <th>Time</th>
            <th>Attempt</th>
          </tr>
    
          <% for(let i = 0; i < admin.length; i++) { %>
          <tr>
            <td><%= admin[i].id %></td>
            <td><%= admin[i].time %></td>
            <td><%= admin[i].attempt %></td>
          </tr>
          <% } %>
        </table>
    </main>




</body>
</html>
