<!-- views/pages/students/allStudents.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Assign Times</title>
  <%- include ('../../partials/admin/head') %>
</head>

<body>

<!-- Het formulier voor tijden aan studenten te koppelen-->
<main>
  <form method="post">
    <!--formulier 1-->
    <label for="studenMail0">Email:</label>
    <select id="studentMail0" name="studentMail[]">
      <% for(let i = 0; i < accountList.length; i++) { %>
      <option value="<%= accountList[i].email %>"> <%= accountList[i].email %> </option>
     <% } %>
    <%= unassignedTimes[0] %>
      <input type="submit" value="Voer in">
    <br>
    <!--formulier 2-->
    <form method="post">
    <label for="studenMail1">Email:</label>
    <select id="studentMail1" name="studentMail[]">
      <% for(let i = 0; i < accountList.length; i++) { %>
      <option value="<%= accountList[i].email%>"> <%= accountList[i].email %. </option>
    <% } %>
    <%= unassignedTimes[1] %>
      <input type="submit" value="Voer in">
    <br>
    <!--formulier 3-->
    <form method="post">
    <label for="studenMail2">Email:</label>
    <selectid="studentMail2" name="studentMail[]">
    <% for(let i = 0; i < accountList.length; i++) { %>
    <option value="<%= accountList[i].email%>"> <%= accountList[i].email %. </option>
    <% } %>
    <%= unassignedTimes[2] %>
      <input type="submit" value="Voer in">
    <br>
  </form>
</main>

</body>
</html>
