<!-- views/pages/students/allStudents.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Assign Times</title>
</head>

<body>
  <!--the main header-->
  <%- include ('../../partials/head-admin') %>
  <!--the main nav for navigation-->
  <%- include ('../../partials/nav') %>

  <!-- Het formulier voor tijden aan studenten te koppelen-->
  <main>
    <form method="post">
      <!--formulier 1-->
      <label for="studenMail0">Email:</label>
      <select id="studentMail0" name="studentMail[]">
        <% for(let i = 0; i < accountList.length; i++) { %>
        <option value="<%= accountList[i].email %>"> <%= accountList[i].name %> </option>
        <% } %>
      </select>
      <%= unassignedTimes[0] %>
      <br>
      <!--formulier 2-->
      <label for="studenMail1">Email:</label>
      <select id="studentMail1" name="studentMail[]">
        <% for(let i = 0; i < accountList.length; i++) { %>
        <option value="<%= accountList[i].email%>"> <%= accountList[i].name %>. </option>
        <% } %>
      </select>
      <%= unassignedTimes[1] %>
      <br>
      <!--formulier 3-->
      <label for="studenMail2">Email:</label>
      <select id="studentMail2" name="studentMail[]">
        <% for(let i = 0; i < accountList.length; i++) { %>
        <option value="<%= accountList[i].email%>"> <%= accountList[i].name %>. </option>
        <% } %>
      </select>
      <%= unassignedTimes[2] %>
      <br>
      <input type="submit" value="Voer in">
    </form>
  </main>
  <!--the footer partials -->
  <%- include ('../../partials/footer') %>
</body>

</html>
