<!-- views/pages/students/allStudents.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="Admin-styles.css">
  <title>Assign Times</title>
</head>
<body>

<header>
    <h1>
      Asign student times
    </h1>
</header>

<!-- Het formulier voor tijden aan studenten te koppelen-->
<main>
  <form method="post">

    <label for="studenMail0"><%= unassignedTimes[0] %>  Email:</label>
    <select id="studentMail0" name="studentMail[0]">
      <% for(let i = 0; i < accountList.length; i++) { %>
        <option value="<%= accountList[i].email %>"> <%= accountList[i].name %> </option>
     <% } %>
    </select>
    <br>
     <label for="studenMail1"><%= unassignedTimes[1] %>  Email:</label>
     <select id="studentMail1" name="studentMail[1]">
       <% for(let i = 0; i < accountList.length; i++) { %>
         <option value="<%= accountList[i].email %>"> <%= accountList[i].name %> </option>
      <% } %>
    </select>
    <br>
     <label for="studenMail2"><%= unassignedTimes[2] %>  Email:</label>
     <select id="studentMail2" name="studentMail[2]">
       <% for(let i = 0; i < accountList.length; i++) { %>
         <option value="<%= accountList[i].email %>"> <%= accountList[i].name %> </option>
      <% } %>
    </select>
    <br>
    <input type="submit" value="Submit">
    </form>
</main>

</body>
</html>
