<!-- views/pages/students/allStudents.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../../partials/head') %>
</head>
<body>

<header>
    <h1>
      my times
    </h1>
    <%- include ('../../partials/nav') %>
</header>

<%= typeof error != 'undefined' && error || null %>

<form method="post">
<label for="studentMail0">Email:</label>
<input type="text" id="studentMail0" name="studentMail[]">
<%= unassignedTimes[0] %>
<br/>
<label for="studentMail1">Email:</label>
<input type="text" id="studentMail1" name="studentMail[]">
<%= unassignedTimes[1] %>
<br/>
<label for="studentMail2">Email:</label>
<input type="text" id="studentMail2" name="studentMail[]">
<%= unassignedTimes[2] %>
<br/>
<input type="submit" value="Submit">
</form>

<footer>
    <%- include ('../../partials/footer') %>
</footer>

</body>
</html>
