<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
  <!--the main header-->
  <%- include ('../../partials/head-admin') %>
  <!--the main nav for navigation-->
  <%- include ('../../partials/nav') %>

  <body>
    <table>
      <tr>
        <th>Id</th>
        <th>Student mail</th>
        <th>Time</th>
        <th>Timestamp</th>
      </tr>

      <% for(let i = 0; i < times.length; i++) { %>
      <tr>
        <td><%= times[i].id %></td>
        <td><%= times[i].student_mail %></td>
        <td><%= times[i].time %></td>
        <td><%= times[i].timestamp %></td>
      </tr>
      <% } %>
    </table>
  </body>

  <footer>

  </footer>
  <!--the footer partials -->
  <%- include ('../../partials/footer') %>
</body>

</html>
