<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="Admin-styles.css">
  <%- include ('../../partials/admin/head') %>
</head>

<body>

  <header>
    <h1>
      student times
    </h1>
    <%- include ('../../partials/admin/nav') %>
  </header>

  <body>
    <table>
      <tr>
        <th>Id</th>
        <th>Student mail</th>
        <th>Time</th>
        <th>Timestamp</th>
      </tr>

      <% for(let i = 0; i < times.length; i++) { %>
      <tr>
        <td><%= times[i].id %></td>
        <td><%= times[i].student_mail %></td>
        <td><%= times[i].time %></td>
        <td><%= times[i].timestamp %></td>
      </tr>
      <% } %>
    </table>
  </body>

  <footer>
    <%- include ('../../partials/admin/footer') %>
  </footer>

</body>

</html>
